/*
 * Keyframes
 */

 @font-face {
   font-family: 'HKGrotesk Extra Bold';
   src: url('fonts/HKGrotesk-ExtraBold.otf');
 }

 @font-face {
   font-family: 'HKGrotesk Semi Bold';
   src: url('fonts/HKGrotesk-SemiBold.otf');
 }

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.m-scene {
  /** Basic styles for an animated element */
  .scene_element {
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
  }
  /** An element that fades in */
  .scene_element--fadein {
    animation-name: fadeIn;
  }
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

.welcome {
  padding-top: 155px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin: 40px;
  font-family: 'HKGrotesk Extra Bold';
}

#introduction {
  text-align: center;
  height: 200px;
  font-size: 50px;
}

.ShelterMe {
  font-style: normal;
  color: #1D73E8;
}

button {
  font-family: "HKGrotesk Semi Bold";
  background-color: #E5EEF9;
  text-align: center;
  font-size: 16px;
  color: #000000;
  border-radius: 16px;
  width: 158px;
  height: 48px;
  transition-duration: 0.4s;
  border-style: none;
}

button:hover {
  background-color: #1D73E8;
  color: #ffffff;
}

.twobuttons {
  text-align: center;
}

#looking-button, #offering-button {
  display: inline-block;
  height: 200px;
  padding-top: 200px;
  box-sizing: content-box;
}
