{% extends "base.html" %}
{% block content %}
    <h1> Select other ammenities you can offer. </h1>
    <form method="POST" id="charging-button" action="/questions">
      <input type="submit" value="charging stations"/>
    </form>
    <form method="POST" id="water-button" action="/questions">
      <input type="submit" value="water"/>
    </form>
    <form method="POST" id="firstaid-button" action="/questions">
      <input type="submit" value="first aid kits"/>
    </form>
    <form method="POST" id="shower-button" action="/questions">
      <input type="submit" value="showers"/>
    </form>
    <form method="POST" id="bathroom-button" action="/questions">
      <input type="submit" value="bathrooms"/>
    </form>
    <form method="POST" id="hygiene-button" action="/questions">
      <input type="submit" value="hygiene products"/>
    </form>
    <form method="POST" id="pet-button" action="/questions">
      <input type="submit" value="pet friendly"/>
    </form>
    <form method="POST" id="other-button" action="/questions">
      <input type="submit" value="other"/>
    </form>
    <form method="POST" id="none-button" action="/questions">
      <input type="submit" value="none of the above"/>
    </form>
{% endblock %}
