{% extends "base.html" %}
{% block content %}
  <div class="welcome">
    <h1> Your offered location is: </h1>
    <form method="GET" id="location-entered" action="/questions">
        <h1 name = "location"></h1>
    </form>
    <h2>Is this correct? </h2>
    <form method="POST" id="yes-button" action="{{url_for('questions', question='offerer/offerer_number')}}">
      <button type="submit">Yes</button>
    </form>
    <form method="POST" id="no-button" action="{{url_for('questions', question='offerer/offerer_number')}}">
      <button type="submit">No</button>
    </form>
  </div>
{% endblock %}
