{% extends "base.html" %}
{% block content %}
    <h1> Select the conditions that you can accomodate. </h1>
    <form method="POST" id="diabetes-button" action="/questions">
      <input type="submit" value="diabetes"/>
    </form>
    <form method="POST" id="foodallergies-button" action="/questions">
      <input type="submit" value="food allergies"/>
    </form>
    <form method="POST" id="otherallergies-button" action="/questions">
      <input type="submit" value="other allergies"/>
    </form>
    <form method="POST" id="glutenfree-button" action="/questions">
      <input type="submit" value="gluten free"/>
    </form>
{% endblock %}
