<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css?u={{ last_updated }}">
  </head>
  <body>
      <div class="m-scene" id="main">
          <div class="m-header scene_element scene_element--fadein">
              <h1> Welcome to shelter!</h1>
              <h2>Choose who you are</h2>
              <button >Start</button>
          </div>
      </div>
  </body>
</html
