{% extends "base.html" %}
{% block content %}
  <div class="welcome">
    <h1> Are you looking for shelter or offering shelter? </h1>
      <div class="centered">
        <form method="POST" id="looking-button" action="{{url_for('questions', question='/searcher/searcher_location')}}">
          <button type="submit">Looking for Shelter</button>
        </form>
        <form method="POST" id="offering-button" action="{{url_for('questions', question='/offerer/offerer_location')}}">
          <button type="submit">Offering Shelter</button>
        </form>
      </div>
  </div>

{% endblock %}
